@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --font-family-base: Raleway, "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  --font-size-small: 1.2rem;
  --font-size-base: 1.4rem;
  --font-size-large: 1.6rem;
  --font-size-xx-large: 2rem;
  --font-weight-normal: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700;
  --gray-100: #a8a8a8;
  --gray-200: #e4e4e4;
  --gray-300: rgb(248, 248, 248);
  --primary: #c1875e;
  --black: #222;
  --white: #fff;
  --danger: #f5365c;
}

html {
  font-size: 62.5%;
}

body {
  line-height: 1.5;
  font-family: var(--font-family-base);
  font-size: var(--font-size-base);
  font-weight: var(--font-weight-normal);
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: var(--gray-100);
  transition: color 0.2s;
}
a:hover {
  color: var(--primary);
}

/* Display flex */
.d-flex {
  display: flex;
}

.jus-center {
  justify-content: center;
}

.jus-between {
  justify-content: space-between;
}

.al-center {
  align-items: center;
}

.flex-1 {
  flex-grow: 1;
}

/* Color */
.text-gray {
  color: var(--gray-100);
}

.text-primary {
  color: var(--primary);
}

/* Font size */
.fs-small {
  font-size: var(--font-size-small);
}

.fs-large {
  font-size: var(--font-size-large);
}

/* Container */
.container {
  max-width: 1170px;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

/* Image */
.img-fluid {
  max-width: 100%;
  height: auto;
}

/* Shadow */
.shadow {
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
}

.shadow-lg {
  box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%);
}

/* Form */
.form-group {
  margin-bottom: 1.5rem;
}

.form-group label {
  font-weight: var(--font-weight-medium);
}

.form-control {
  font-size: 1.4rem;
  height: calc(1.5em + 1.25rem + 5px);
  transition: all 0.15s ease-in-out;
  font-weight: 400;
  line-height: 1.5;
  display: block;
  width: 100%;
  padding: 0.625rem 0.75rem;
  color: #8898aa;
  border: 1px solid #dee2e6;
  border-radius: 0.25rem;
  background-color: #fff;
  background-clip: padding-box;
  box-shadow: 0 3px 2px rgb(233 236 239 / 5%);
  font-family: inherit;
}

.form-control:focus {
  color: #8898aa;
  border-color: var(--primary);
  outline: 0;
  background-color: #fff;
  box-shadow: 0 3px 9px rgb(50 50 9 / 0%), 3px 4px 8px rgb(94 114 228 / 10%);
}

.form-select {
  display: block;
  width: 100%;
  padding: 0.75rem 2.25rem 0.75rem 0.75rem;
  -moz-padding-start: calc(0.75rem - 3px);
  font-size: 1.4rem;
  color: #212529;
  background-color: #eff0f4;
  border: 0 solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  appearance: none;
  font-family: inherit;
}

.form-select:focus {
  outline: none;
}

.form-check {
  display: block;
  min-height: 1.3125rem;
  margin-bottom: 0.5rem;
}

/* Grid */
.row {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  margin-right: -1rem;
  margin-left: -1rem;
}

.col-3 {
  flex: 0 0 25%;
  max-width: 25%;
  width: 100%;
  padding: 0 1rem;
}

.col-4 {
  flex: 0 0 33.33%;
  max-width: 33.33%;
  width: 100%;
  padding: 0 1rem;
}

.col-6 {
  flex: 0 0 50%;
  max-width: 50%;
  width: 100%;
  padding: 0 1rem;
}

.col-9 {
  flex: 0 0 75%;
  max-width: 75%;
  width: 100%;
  padding: 0 1rem;
}

/* Button */
.btn {
  font-size: 1.4rem;
  position: relative;
  transition: all 0.15s ease;
  letter-spacing: 0.025em;
  text-transform: none;
  will-change: transform;
  box-shadow: 0 4px 6px rgb(50 50 93 / 11%), 0 1px 3px rgb(0 0 0 / 8%);
  font-weight: 600;
  display: inline-block;
  padding: 1rem 1.75rem;
  cursor: pointer;
  -webkit-user-select: none;
  user-select: none;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  text-align: center;
  vertical-align: middle;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  font-family: inherit;
}

.btn-full {
  width: 100%;
  display: block;
}

.btn:hover {
  transform: translateY(-1px);
  box-shadow: 0 7px 14px rgb(50 50 93 / 10%), 0 3px 6px rgb(0 0 0 / 8%);
}

/* Swiper */
.swiper {
  padding-left: 5px !important;
  padding-right: 5px !important;
}

/* Background */
.bg-cover {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* Position */
.abs-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Breadcrumb */
.breadcrumb {
  display: flex;
  padding: 1rem 0;
}

.breadcrumb .link {
  color: var(--primary);
  margin-right: 0.5rem;
}

/* Pagination */
.pagination {
  padding: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  background-color: var(--gray-300);
}

.pagination ul {
  display: flex;
  justify-content: flex-end;
}

.pagination ul li a {
  display: block;
  width: 3rem;
  height: 3rem;
  margin: 0 0.5rem;
  text-align: center;
  line-height: 3rem;
  border-radius: 50%;
  border: 1px solid var(--gray-100);
}

.pagination ul li.active a {
  background-color: var(--primary);
  color: white;
  border-color: var(--primary);
}

/* ========================== */

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
}

/* Header */
header {
  border-bottom: 1px solid var(--gray-200);
}
.header-nav li a {
  display: block;
  padding: 1.6rem;
  font-weight: var(--font-weight-medium);
}

/* Nav */
nav {
  padding: 1rem 0;
}

.nav li a {
  display: block;
  padding: 2.5rem 5rem;
  color: var(--black);
  text-transform: uppercase;
  font-weight: var(--font-weight-bold);
}
.nav li a:hover {
  color: var(--primary);
}

.cart-icon {
  width: 50px;
  height: 50px;
  margin-left: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary);
}

.cart-icon i {
  color: white;
}

/* Footer */
.send-mail {
  padding: 2rem 0;
  background-color: var(--primary);
}

.send-mail-title {
  font-size: xx-large;
  font-weight: var(--font-weight-bold);
  color: white;
}

.send-mail-socials a {
  color: white;
  margin: 0 1rem;
  font-size: large;
}

.send-mail-input {
  margin: 0 2rem;
  max-width: 500px;
}

.footer-main {
  padding-top: 5rem;
  padding-bottom: 4rem;
}

.footer-main h5 {
  margin-bottom: 2rem;
  font-weight: var(--font-weight-bold);
  text-transform: uppercase;
}

.copy-right {
  padding: 1rem 0;
  text-align: center;
  background-color: var(--gray-200);
}

/* Product */
.product {
  position: relative;
  margin-bottom: 28px;
}

.product-image {
  position: relative;
  padding-bottom: 120%;
}

.product-image img {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.product-include {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.2);
  transform: translate(-50%, -50%);
  transition: all 0.3s ease-in-out;
  text-align: center;
  z-index: 10;
  opacity: 0;
  visibility: hidden;
}

.product-title {
  margin-top: 12px;
  color: black;
  transition: all 0.3s ease-in-out;
  font-weight: var(--font-weight-medium);
}

.product-title:hover {
  color: var(--primary);
}

.product-price {
  color: var(--primary);
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-xx-large);
  text-align: right;
}

.product-add {
  position: absolute;
  bottom: -15px;
  left: 0;
  right: 0;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
  transform: translateY(-30px);
}

.product-add button {
  width: 100%;
  text-transform: uppercase;
}

.product-status {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 12px;
}

.product-status .status-hot {
  color: var(--danger);
}

.product:hover .product-add {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.product:hover .product-include {
  opacity: 1;
  visibility: visible;
}
